<div class='container'>
	<%= image_tag 'chat_image', class:'my-2 mx-auto d-block rounded-circle top-image' %>
	<h5 class='text-center'> Say Something</h5>
	<div class='row'>
		<div class='col-8'>
			<div class="card">
				<div class="card-body">
					This is some text within a card body.
				</div>
				<div class="card-footer">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter message...." aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-danger" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class='col-4'>
			<div class="card bg-dark" style="width: 18rem;">
				<ul class="list-group list-group-flush">
					<li class="list-group-item list-group-item-action list-group-item-primary text-dark">	<a class="nav-link ml-5" href="#">Messages</a></li>
					<li class="list-group-item list-group-item-action list-group-item-primary text-dark">	<a class="nav-link ml-5" href="#">Home</a></li>
					<li class="list-group-item list-group-item-action list-group-item-primary text-dark">	<a class="nav-link ml-5" href="#">Chatroom</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
